{
"SearchServiceName":"moriyamax",
"SearchServiceAdminApiKey":"72822550BF5A6D5DAE38DF585C123CD6",
"IndexName":"umbraco",
"SearchFields":[
{
"Name":"umbracoNaviHide",
"Type":"int",
"IsFilterable":"True"
},
{
"Name":"siteTitle",
"Type":"string",
"IsSearchable": "True"
},
{
"Name":"siteDescription",
"Type":"string",
"IsSearchable": "True"
},
{
"Name":"tags",
"Type":"collection",
"IsFacetable":"True",
"IsSearchable": "True"
},
{
"Name":"content",
"Type":"string",
"IsGridJson":"True",
"IsSearchable": "True"
}
]
}