{
"SearchServiceName":"moriyamax",
"SearchServiceAdminApiKey":"72822550BF5A6D5DAE38DF585C123CD6",
"IndexName":"umbraco",
"ScoringProfiles": [
{
"name": "boostTitle",
"text": {
"weights": {
"title": 9,
"taxonomy": 5,
"Content": 1
}
}
},
{
"name": "boostTitleAndPublishedDate",
"text": {
"weights": {
"title": 9,
"taxonomy": 5,
"Content": 1
}
},
"functions": [
{
"type": "freshness",
"fieldName": "publicationDate",
"boost": 12,
"interpolation": "quadratic",
"freshness": {
"boostingDuration": "365"
}
},
{
"type": "magnitude",
"fieldName": "Level",
"boost": 8,
"interpolation": "linear",
"magnitude": {
"boostingRangeStart": 1,
"boostingRangeEnd": 5,
"constantBoostBeyondRange": false
}
},
{
"type": "distance",
"fieldName": "siteTitle",
"boost": 4,
"interpolation": "logarithmic",
"distance": {
"referencePointParameter": "currentLocation",
"boostingDistance": 10
}
},
{
"type": "tag",
"fieldName": "Tags",
"boost": 2,
"interpolation": "linear",
"tag": {
"tagsParameter": "tagone,tagtwo"
}
}
]
}
],
"SearchFields":[
{
"Name":"umbracoNaviHide",
"Type":"int",
"IsFilterable":"True"
},
{
"Name":"siteTitle",
"Type":"string",
"IsSearchable": "True"
},
{
"Name":"siteDescription",
"Type":"string",
"IsSearchable": "True"
},
{
"Name":"tags",
"Type":"collection",
"IsFacetable":"True",
"IsSearchable": "True"
},
{
"Name":"content",
"Type":"string",
"IsGridJson":"True",
"IsSearchable": "True"
}
]
}