<?xml version="1.0"?>
<Examine RebuildOnAppStart="true">
  <ExamineIndexProviders>
    <providers>
      <add name="InternalIndexer" type="Moriyama.AzureSearch.Umbraco.Application.Examine.DummyUmbracoContentIndexer, Moriyama.AzureSearch.Umbraco.Application"
           supportUnpublished="true"
           supportProtected="true"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>
    
    </providers>
  </ExamineIndexProviders>
  
  <ExamineSearchProviders defaultProvider="InternalSearcher">
    <providers>
      <add name="InternalSearcher" type="Moriyama.AzureSearch.Umbraco.Application.Examine.DummyUmbracoExamineSearcher, Moriyama.AzureSearch.Umbraco.Application"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>
        
    </providers>
  </ExamineSearchProviders>
  
</Examine>
