<style type="text/css">
    .row{
  margin-bottom: 30px
}
</style>
<div ng-controller="Umbraco.Dashboard.MoriyamaAzureSearchController">

    <div class="row">
        <h3>Azure Search</h3>

        <ul>
            <li ng-repeat="indexer in indexers">
                <a ng-click="loadIndexer(indexer)" href>{{indexer}}</a>
            </li>
        </ul>

        <h4>Configuration</h4>

        <table class="table table-striped">
            <tr ng-show="updating">
                <td colspan="2">
                    Updating....
                </td>
            </tr>
            <tr>
                <td>Search Service Name</td>
                <td>
                    <input type="text" ng-model="config.SearchServiceName" />
                    <input type="button" class="btn btn-default" value="Update" ng-click="updateServiceName()"/>
                </td>
            </tr>
            <tr>
                <td>Search Service Admin Api Key</td>
                <td>
                    <input type="text" ng-model="config.SearchServiceAdminApiKey" />
                    <input type="button" class="btn btn-default" value="Update" ng-click="updateServiceApiKey()"/>
                </td>
            </tr>
            <tr>
                <td>Index Name</td>
                <td>{{config.IndexName}}</td>
            </tr>
        </table>

        <div ng-show="showConfigTest" class="alert alert-info">
            Connection test result: {{configTest}}
        </div>

        <input type="button" class="btn btn-default" value="Test Configuration" ng-click="testConfig()" ng-show="configLoaded" />
    </div>


    <div class="row">
        

        <h4>Index Manager</h4>

        <ul>
            <li ng-repeat="index in searchIndexes">Found Index <em>{{index.Name}}</em></li>
        </ul>

        <div ng-show="showIndexDropCreate" class="alert alert-info">
            Dropping and Creating: {{dropCreateResult}}
        </div>

        <div ng-show="showReIndexContent" class="alert alert-success">
            <p>Reindexing has started.</p>

            <p>Session id: {{reIndexContentResult.SessionId}}</p>

            <p>{{reIndexContentResult.DocumentsProcessed}} of {{reIndexContentResult.DocumentCount}} {{TypeProcessing}} processed.</p>
            
            <p ng-show="finishedIndexing">Finished re-indexing all content and media.</p>

        </div>

        <input type="button" class="btn btn-default" value="Drop/Create Index" ng-click="dropCreateIndex()" />

        <input type="button" class="btn btn-default" value="Reindex Content" ng-click="reindexContent()" />
    </div>
    
    <div ng-if="indexer == 'umbraco'">
        <h3>Standard Umbraco Fields</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>IsKey</th>
                    <th>IsSortable</th>
                    <th>IsFacetable</th>
                    <th>IsFilterable</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="field in umbracoFields">
                    <td>
                        {{field.Name}}
                    </td>
                    <td>
                        {{field.Type}}
                    </td>
                    <td>
                        {{field.IsKey}}
                    </td>
                    <td>
                        {{field.IsSortable}}
                    </td>
                    <td>
                        {{field.IsFacetable}}
                    </td>
                    <td>
                        {{field.IsFilterable}}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <h3>Custom Umbraco Fields</h3>

    <p>These are defined in /config/AzureSearch.config</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Alias</th>
                <th>Type</th>
                <th>IsKey</th>
                <th>IsSortable</th>
                <th>IsFacetable</th>
                <th>IsFilterable</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="searchField in config.SearchFields">
                <td>
                    {{searchField.Name}}
                </td>
                <td>
                    {{searchField.Type}}
                </td>
                <td>
                    {{searchField.IsKey}}
                </td>
                <td>
                    {{searchField.IsSortable}}
                </td>
                <td>
                    {{searchField.IsFacetable}}
                </td>
                <td>
                    {{searchField.IsFilterable}}
                </td>
            </tr>
        </tbody>
    </table>



    <hr />


</div>