{
"SearchServiceName": "dummy",
"SearchServiceAdminApiKey": "dummy",
"IndexName": "umbraco",
"LogSearchPerformance": true,
"ScoringProfiles": [
{
"name": "boostTitle",
"text": {
"weights": {
"title": 9,
"taxonomy": 5,
"Content": 1
}
}
},
{
"name": "boostTitleAndPublishedDate",
"text": {
"weights": {
"title": 9,
"taxonomy": 5,
"Content": 1
}
},
"functions": [
{
"type": "freshness",
"fieldName": "publicationDate",
"boost": 8,
"interpolation": "quadratic",
"freshness": {
"boostingDuration": "P365D"
}
}
]
}
],
"SearchFields": [
{
"Name": "umbracoNaviHide",
"Type": "int",
"IsKey": false,
"IsSortable": false,
"IsSearchable": false,
"IsFacetable": false,
"IsFilterable": true,
"IsGridJson": false
},
{
"Name": "siteTitle",
"Type": "string",
"IsKey": false,
"IsSortable": false,
"IsSearchable": true,
"IsFacetable": false,
"IsFilterable": false,
"IsGridJson": false
},
{
"Name": "siteDescription",
"Type": "string",
"IsKey": false,
"IsSortable": false,
"IsSearchable": true,
"IsFacetable": false,
"IsFilterable": false,
"IsGridJson": false
},
{
"Name": "tags",
"Type": "collection",
"IsKey": false,
"IsSortable": false,
"IsSearchable": true,
"IsFacetable": true,
"IsFilterable": true,
"IsGridJson": false
},
{
"Name": "content",
"Type": "string",
"IsKey": false,
"IsSortable": false,
"IsSearchable": true,
"IsFacetable": false,
"IsFilterable": false,
"IsGridJson": true
}
]
}