{
"SearchServiceName": "dummy",
"SearchServiceAdminApiKey": "dummy",
"IndexName": "umbraco",
"LogSearchPerformance": true,
"SearchFields": [
{
"Name": "umbracoNaviHide",
"Type": "int",
"IsKey": false,
"IsSortable": false,
"IsSearchable": false,
"IsFacetable": false,
"IsFilterable": true,
"IsGridJson": false
},
{
"Name": "siteTitle",
"Type": "string",
"IsKey": false,
"IsSortable": false,
"IsSearchable": true,
"IsFacetable": false,
"IsFilterable": false,
"IsGridJson": false
},
{
"Name": "siteDescription",
"Type": "string",
"IsKey": false,
"IsSortable": false,
"IsSearchable": true,
"IsFacetable": false,
"IsFilterable": false,
"IsGridJson": false
},
{
"Name": "tags",
"Type": "collection",
"IsKey": false,
"IsSortable": false,
"IsSearchable": true,
"IsFacetable": true,
"IsFilterable": true,
"IsGridJson": false
},
{
"Name": "content",
"Type": "string",
"IsKey": false,
"IsSortable": false,
"IsSearchable": true,
"IsFacetable": false,
"IsFilterable": false,
"IsGridJson": true
}
]
}