<azureSearch searchServiceName="" searchServiceAdminApiKey="" indexName="inttest">
  <fields>
    <field name="umbracoNaviHide" type="Int" isSearchable="false" isFilterable="true" />
    <field name="siteTitle" type="String" isFilterable="true" />
    <field name="siteDescription" type="String" />
    <field name="tags" type="Collection" isFacetable="true" />
    <field name="content" type="String" isFacetable="true" isGridJson="true" />
  </fields>
</azureSearch>